{% extends 'layout/index.html.twig' %}

{% block title %}CHAT{% endblock %}
{% block main_content %}

    <br>
    <br>
    <h1 style="text-align: center">MAKIETA DEMO</h1>
    <br>
    <br>

{% endblock %}